<script src="https://npmcdn.com/vue/dist/vue.js"></script>
<link type="text/css" href="./styles.css" rel="stylesheet" />

<div id="exercise">
  <p>Additional classes created: thick, rounded, square</p>
  <!-- 1) Start the Effect with the Button. The Effect should alternate the "highlight" or "shrink" class on each new setInterval tick
    (attach respective class to the div with id "effect" below) -->
  <div>
    <button @click="startEffect">Start Effect</button>
    <div id="effect" :class="effectClass"></div>
  </div>
  <!-- 2) Create a couple of CSS classes and attach them via the array syntax -->
  <div :class="['thick', 'rounded']">I got no class :(</div>
  <!-- 3) Let the user enter a class (create some example classes) and attach it -->
  <div>
    Set a class: <input type="text" v-model="class3">
    <div :class="class3"></div>
  </div>
  <!-- 4) Let the user enter a class and enter true/ false for another class (create some example classes) and attach the classes -->
  <div>
    Set a class: <input type="text" v-model="class4A">
    Is square: <input type="text" v-model="class4B"> 
    <div :class="[ class4A, {square: class4flag} ]"></div>
  </div>
  <!-- 5) Repeat 3) but now with values for styles (instead of class names). Attach the respective styles.  -->
  <div>
    Width: <input type="text" v-model="width5"> px
    <div :style="{width: width5 + 'px'}"></div>
  </div>
  <!-- 6) Create a simple progress bar with setInterval and style bindings. Start it by hitting the below button. -->
  <div>
    <button @click="startProgress">Start Progress</button>
    <div :style="style6"></div>
  </div>
</div>

<script src="app.js"></script>
